@tailwind base;
@tailwind components;
@tailwind utilities;

.root,
#root,
#docs-root {
  --lighter1: #c3dacc86;
  --lighter2: #e4f0e9da;
  --Darken: #cca27e;
  --color: orangered;
  --search: #ff6000;
  --primary1: #2b3d4c;
  --primary2: #354d61;
}

body {
}
@layer {
  body {
    font-family: "Poppins", sans-serif;
  }
  .active {
    @apply text-[#ff0000] !important;
  }
  .logo {
    @apply h-[6em] p-[1.5em];
  }

  .header-upper {
    @apply bg-[#dfece4];
  }
  .Header-top {
    @apply bg-[#e4f0e9da];
  }
  .cartCount {
    @apply w-[15px] h-[17px] flex items-center rounded-[100%] pl-[3px] left-[17px] bg-white absolute top-0;
  }
  .slick-prev{
    @apply sm:left-[3px] left-[34px] z-[1] !important;
  }
  .slick-next{
    @apply sm:right-[15px] right-[34px] z-[1] !important;
  }
  /* //popular products  */
.categoryBtn {
  @apply sm:w-[180px] sm:bg-[#2b3d4c] sm:mr-2  sm:absolute  sm:right-0 text-center gap-[20px]  rounded-md !important;
}
.categoryBtn_button{
  @apply sm:bg-inherit sm:border-none sm:text-white  border p-2 rounded bg-[#2b3d4c] text-white !important;
}
  
}

.banner {
  background-position: center;
  height: 80vh;
  background-image: url("./assets/bgimg.jpg");
}
.banner1 {
background-repeat: no-repeat;
  background-image: url("./assets/girlSlidee.jpg");
  height: 80vh;

}
.popularProductheading{
  font-size: 40px;
  font-weight: 700;
  color: #ff6000;

  font-family: math;
}
.slick-prev:before {
  content: '←';
  font-size: 30px;
}

.slick-next:before {
  content: '→';
  font-size: 30px;
}

/* .slick-prev {
  left:34px;
  z-index: 1;
}
.slick-next {
  right: 34px;
  z-index: 1;
} */